* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e4e4e4;
}

.footer {
    height: 60px;
}

.facebook-div {
    width: 450px;
    height: 350px;
    margin: 30px;
}

.grancum-div {
    width: 400px;
    height: 350px;
    border: 1px solid black;
    box-shadow: 1px 1px 20px 0px black;
    background-color: aliceblue;
    padding: 20px;
}

.facebook {
    font-size: 60px;
    font-family:  Arial, sans-serif;
    color: rgb(42, 109, 255);
}

.grvacq {
    font-size: 28px;
}

.email {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(0, 157, 255);
    outline: none;
    margin-bottom: 20px;
    font-size: 16px;
}

.pasvord {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(0, 157, 255);
    outline: none;
    margin-bottom: 20px;
    font-size: 16px;
}

.knopka {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(0, 213, 255);
    font-size: 30px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.knopka:hover {
    background-color: #0099ff;
}

.knopka:active {
    background-color: #038de9;
}

.link-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.link {
    font-size: 16px;
    color: rgb(43,122,242);
    text-decoration: none;
}

.gic {
    border: 0.5px rgb(161, 161, 161) solid;
    width: 100%;
    margin-bottom: 20px;
}

.knopki-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.knopki {
    width: 65%;
    height: 50px;
    background-color: rgb(66,183,42);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.knopki:hover {
    background-color: #00c32d;
}

.knopki:active {
    background-color: #03a41e;
}

.diviverj {
    margin: 10px;
    text-align: center;
}

.diviverj a {
    font-weight: 700;
    color: black;
    text-decoration: none;
}
